# Bot
disnake
python-dotenv
requests==2.28.1

# Database
pymongo
motor

# API Wrappers
pokepy
pillow

# Webserver
fastapi
uvicorn

# Caching
aiocache

# Async utils
aiofiles

# Scheduling
apscheduler

# Metrics
prometheus-client

# ORM
pydantic
sqlalchemy
alembic

# Linting/Formatting
pylint
black

# Testing
pytest
pytest-asyncio
httpx

# Debugging
loguru

# HTTP Client
urllib3
