# Bot
disnake
python-dotenv
requests==2.20.*

# Database
pymongo
motor

# API Wrappers
pokepy==0.5.2
pillow

# Webserver
fastapi
uvicorn

# Caching
aiocache

# Async utils
aiofiles

# Scheduling
apscheduler

# Metrics
prometheus-client

# ORM
pydantic
sqlalchemy
alembic

# Linting/Formatting
pylint
black

# Testing
pytest
pytest-asyncio
httpx

# Debugging
loguru

# HTTP Client
urllib3
